name: Format
on: [push, pull_request]
permissions:
  contents: read
jobs:
  fmt:
    runs-on: ubuntu-24.04-arm
    env:
      TYPSTYLE_VERSION: 0.13.18
    steps:
      - name: Check out repository code
        uses: actions/checkout@v5

      - name: Setup typstyle
        run: |
          mkdir -p "$HOME/.local/bin"
          echo "$HOME/.local/bin" >> $GITHUB_PATH
          curl -Lo "$HOME/.local/bin/typstyle" https://github.com/typstyle-rs/typstyle/releases/download/v$TYPSTYLE_VERSION/typstyle-aarch64-unknown-linux-gnu
          chmod +x "$HOME/.local/bin/typstyle"

      - name: Setup zig
        uses: mlugg/setup-zig@v2

      - name: Check formatting with typstyle
        run: |
          shopt -s globstar
          typstyle --check **/*.typ

      - name: Check formatting with zig fmt
        run: |
          shopt -s globstar
          zig fmt --check **/*.{zig,zon}

      - name: Check formatting with clang-format
        run: |
          shopt -s globstar
          clang-format -n --Werror **/*.{c,h}
