name: Format
on: [push, pull_request]
permissions:
  contents: read
jobs:
  fmt:
    runs-on: macos-26
    defaults:
      run:
        shell: zsh {0}
    steps:
      - name: Check out repository code
        uses: actions/checkout@v6

      - name: Install dependencies
        run: |
          brew update
          brew install typstyle clang-format

      - name: Setup zig
        uses: mlugg/setup-zig@v2

      - name: Check formatting with typstyle
        run: typstyle --check **/*.typ

      - name: Check formatting with zig fmt
        run: zig fmt --check **/*.{zig,zon}

      - name: Check formatting with clang-format
        run: clang-format -n --Werror **/*.{c,h}
